#root {
  max-width: 1140px;
  margin: 8px 300px 0px 300px;
  padding: 2rem;
  text-align: center;
}

h3,p {
  margin: 0;
  padding: 0;
}

.section_hero{
  display: flex;
  height: 100vh;
}

.icon_airaestur{
  width: 240px;
  height: 240px;
}

.icon_logos{
  width: 80px;
  height: 80px;
}

.section_hero_texts{
  text-align: left;
  margin: 16px;
}

.card_case_studies{
  display: flex;
  width: 554px;
  height: 678px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #000;
  background-color: white;
}

.card_case_studies_header{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.card_case_studies_texts{
  text-align: left;
  color: #2D2D2D;
}

.mock-ups{
  display: flex;
  width: 412px;
  height: 345px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}